CRONOS_TESTNET_RPC_URL=https://evm-t3.cronos.org/
DEPLOYER_PRIVATE_KEY=
VVS_TESTNET_ROUTER=0xC74C960708f043E04a84038c6D1136EA7Fcb16a1
VVS_TESTNET_FACTORY=
VVS_TESTNET_WCRO=0x6a3173618859C7cd40fAF6921b5E9eB6A76f1fD4
CRONOS_EXPLORER_API_KEY=
